:root {
    --primary-color:#4985F5;
    --orange-color: #f66210;
    --text-color: #3a3a3a;
    --sub-text-color: #6d6d6d;
    --border-color: #dbdbdb;
    --white-color: #fff;
    --black-color: #000;

    --sliderbar-width: 280px;
    --sliderbar-mini-width: 69px;
    --header-height: 130px;
    --header-topbar-height: 65px;
    --header-pagebar-height: calc(var(--header-height) - var(--header-topbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#container{
    background-color: var(--white-color);
}

/* Overlay */
.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
}

/* scrollbar size */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--white-color);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--white-color);
    border-radius: 10px;
    transition: all 0.55s linear;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }

/* Separator */
.separator {
    position: relative;
}
.separator::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    border-right: 1px solid var(--border-color);
    top: 0;
    right: 0;
}

.separator--dashed {
    position: relative;
}
.separator--dashed::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    border-right: 2px dashed #bebebe;
    top: 0;
    right: 0;
}

/* Select Options */
.select-options {
    position: relative;
    padding: 8px 16px;
    width: 210px;
    max-height: 100px;
    border-radius: 10px;
    background-color: #f7fbff;
}

.select-options select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 40%;
    right: 16px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--text-color) transparent transparent transparent;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--text-color) transparent;
    top: 20%;
  }
  

  .select-items div {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent #e0e8ff transparent;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
  }

  .select-items div:last-child{
      border: none; 
  }
  
  .select-items {
    position: absolute;
    max-height: 172px;
    overflow: auto;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #e0e8ff;
    padding: 5px 0 5px 7px;
    background-color: var(--white-color);
  }
  
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(149, 189, 236, 0.09);
  }

/* Button */
.btn {
    min-width: 90px;
    --height: 36px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
}

.btn.btn--normal {
    background-color: rgba(143, 185, 236, 0.1);
    color: var(--primary-color);
    text-decoration: none;
}

.btn-tools-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.btn-tools {
    position: relative;
    margin-right: 10px;
    text-decoration: none;
    color: var(--white-color);
}

.btn-tools-filter,
.btn-tools-filter path {
    color: var(--sub-text-color);
    background-color: rgba(143, 185, 236, 0.09);
    stroke: var(--sub-text-color);
    border: 1px solid #e4e4e4;
}
.btn-tools-filter:hover {
    background-color: #e4e4e4;
}

.btn-tools-add,
.btn-tools-add path {
    color: var(--primary-color);
    background-color: rgba(143, 185, 236, 0.09);
    stroke: var(--primary-color);
    border: 1px solid #e0e8ff;
}
.btn-tools-add:hover {
    background-color: #e0e8ff;
}

.btn-tools-edit,
.btn-tools-edit path {
    color: #59e967;
    background-color: rgba(143, 185, 236, 0.09);
    stroke: #59e967;
    border: 1px solid #cdffd2;
}
.btn-tools-edit:hover {
    background-color: #cdffd2;
}

.btn-tools-delete,
.btn-tools-delete path {
    color: #f75c5c;
    background-color: rgba(143, 185, 236, 0.09);
    stroke: #f75c5c;
    border: 1px solid #ffeeee;
}
.btn-tools-delete:hover {
    background-color: #ffeeee;
}

.btn-icon {
    width: 18px;
    height: 18px;
    line-height: 36px;
    margin-right: 5px;
}

.btn-icon--search path{
    stroke: rgb(85, 140, 243);
}
.btn-icon--load path{
    stroke: var(--sub-text-color);
}
.btn-icon--add path{
    stroke: #4b78ff;
}
.btn-icon--edit path{
    stroke: #59e967;
}
.btn-icon--save path{
    stroke: #6e93ff;
}
.btn-icon--delete path{
    stroke: #ff6969;
}
.btn-icon--check {
    align-items: center;
    width: 100%;
    height: 100%;
    fill: var(--primary-color);
    display: none;
}
.btn-icon--check path {
    stroke: var(--white-color);
}


/* Icon */

.icon-arrow {
    padding-left: 2px;
    font-size: 1.2rem;
}

/* search */
.search-card {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    max-width: 270px;
    height: 36px;
    margin-right: 15px;
    border: 1px solid rgba(73, 133, 245, 0.3);
    border-radius: 10px;
    padding: 10px;
}

.search-card-icon {
    margin: 0 5px;
}

.search-card-input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.4rem;
    background-color: transparent;
}

.search-card-input::placeholder {
    font-size: 1.4rem;
    color: var(--sub-text-color);
}

/* Dropdown Card */
.dropdown {
    position: relative;
    z-index: 1;
    margin-top: 6px;
}

.dropdown-icon {
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 8px 6px;
}

.dropdown-list {
    position: absolute;
    top: 120%;
    right: 0;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    padding: 0;
    background-color: var(--white-color);
    box-shadow: 0 0px 20px rgba(143, 185, 236, 0.3);
    display: none;
    cursor: pointer;
}

.dropdown-item {
    min-width: 170px;
    height: 45px;
}

.dropdown-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-item:hover {
    background-color: rgba(143, 185, 236, 0.2);
}

.dropdown-item-link {
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.dropdown-item-link-icon {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}

.show-dropdown:checked ~ .overlay {
    display: block;
}

.show-dropdown:checked ~ .dropdown-list {
    display: block;
}

/* Category */
.category {
    height: 95%;
}

.category_heading-name {
    font-size: 1.8rem;
    color: var(--sub-text-color);
}

.category-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.category-item {
    width: 92%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.category-item--active {
    background-color: rgba(143, 185, 236, 0.1);
}

.category-item:hover {
    border-radius: 8px;
    background-color: rgba(143, 185, 236, 0.07);
}

.category-item-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
    padding: 10px;
}

.category-item-icon {
    width: 22px;
    height: 22px;
    
}

.category-item-link-name {
    font-size: 1.6rem;
}

.category-selects {
    width: 90%;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(143, 185, 236, 0.1);
}

.category-selects-heading {
    margin: 0 0 10px;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--sub-text-color);
}

.category-selects-options {
    background-color: #e0ebf9;
    height: 42px;
    margin-bottom: 10px;
}

.category-selects-btn {
    margin-top: 20px;
    box-shadow: 0px 7px 30px rgb(192, 225, 255, 0.8);
    color: var(--white-color);
    background-color: var(--primary-color);
}

.category-selects-btn:hover {
    background-color: rgb(51, 156, 255);
    color: var(--white-color);
}



/* Table */
.table {
    border-collapse: collapse;
    background-color: var(--white-color);
    width: 100%;
}

.table-field-row {
    background-color: var(--primary-color);
}

.table-field-col {
    padding: 12px 17px 12px 6px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    color: var(--white-color);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-value-row {
    position: relative;
    overflow: hidden;
}

.table-value-row::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #dddddd;
}

.table-value-col {
    padding: 14px 17px 14px 6px;
    font-size: 1.4rem;
    text-align: left;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4rem;
    height: 2.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-value-col-check {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
}

.table-value-col-select-options {
    height: 32px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.table-value-col-tools {
    display: flex;
}

.table-value-col-tools-item {
    padding: 0 5px;
    cursor: pointer;
}

.table-tools {
    height: 40px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Pagination */

.pagination {
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
margin-right: 22px;
}

.pagination-item-icon {
    font-size: 2rem;
    color: var(--primary-color);
}

.pagination-item-link {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.pagination-item-current,
.pagination-item-current .pagination-item-link {
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item-icon--disabled {
    color: #a3a2a2;
    cursor: default;
}

/* From */
.frm {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

.frm__container {
    max-width: 1058px;
    min-height: 616px;
    border-radius: 12px;
    background-color: #F9F9F9;
}

.frm__header {
    height: 50px;
    border-radius: 12px;
    padding: 0 25px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.frm__header-heading {
    width: 100%;
    margin: 0;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 50px;
    color: var(--primary-color);
}

.frm__header-close {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.frm__header-close:hover {
    opacity: 0.8;
}

.frm__body {
    width: 100%;
    padding: 15px;
    background-color: #F9F9F9;
}

.frm__body-input-component {
    width: 100%;
    padding: 5px 30px;
    display: flex;
    align-items: center;
}

.frm__body-label {
    min-width: 150px;
    margin-right: 2px;
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
}

.frm__body-input {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    padding: 0 14px;
    outline: none;
    border: none;
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.08);
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--white-color);
}
::placeholder {
    color: var(--text-color);
}

.frm__body-input-double {
    display: flex;
    width: 100%;
}

.frm__body-input-1 {
    width: 100%;
    height: 50px;
    margin-right: 10px;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 0 10px 0 14px;
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.08);
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--white-color);
}

.frm__body-input-2 {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    outline: none;
    border: none;
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.08);
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--white-color);
}

.frm__body-note {
    width: 100%;
    height: 100px;
    border-radius: 12px;
    margin:40px 40px 0;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.08);
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--white-color);
}

.frm__footer {
    display: flex;
    justify-content: center;
    margin: 15px 0 20px;
}

.frm__footer-btn {
    width: 130px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.frm__footer-btn:hover {
    background-color: #e0e8ff;
    color: var(--primary-color);
}

.disabled {
    background-color: #f5f5f5;
    border: none;
}

.show-frm {
    display: flex;
}

/* Show */
.btn-icon--check.show {
    display: block;
}

/* Responsive */
.grid {
    width: 100%;
    min-height: 400px;
}

/* Độ rộng lưới chuẩn PC */
.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

/* Mobile */
    /* Hệ thống hàng - cột Mobile */
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -4px;
        margin-right: -4px;
    }

    .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        padding-left: 4px;
        padding-right: 4px;
    }

    .row.no-gutters .col {
        padding-left: 0;
        padding-right: 0;
    }

    .c-0 {
        display: none;
    }

    .c-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .c-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .c-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .c-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .c-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .c-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .c-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .c-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .c-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .c-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .c-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .c-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Căn chỉnh offset Mobile */
    .c-o-1 {
        margin-left: 8.33333%;
    }

    .c-o-2 {
        margin-left: 16.66667%;
    }

    .c-o-3 {
        margin-left: 25%;
    }

    .c-o-4 {
        margin-left: 33.33333%;
    }

    .c-o-5 {
        margin-left: 41.66667%;
    }

    .c-o-6 {
        margin-left: 50%;
    }

    .c-o-7 {
        margin-left: 58.33333%;
    }

    .c-o-8 {
        margin-left: 66.66667%;
    }

    .c-o-9 {
        margin-left: 75%;
    }

    .c-o-10 {
        margin-left: 83.33333%;
    }

    .c-o-11 {
        margin-left: 91.66667%;
    }

/* Tablet */
    /* Hệ thống hàng - cột Tablet++ ( > 740px ) */
    @media (min-width: 46.25em) {
        .row {
            margin-left: -8px;
            margin-right: -8px;
        }

        .row.sm-gutter {
            margin-left: -5px;
            margin-right: -5px;
        }

        .col {
            padding-left: 8px;
            padding-right: 8px;
        }

        .row.sm-gutter .col {
            padding-left: 5px;
            padding-right: 5px;
        }

        .m-0 {
            display: none;
        }

        .m-1,
        .m-2,
        .m-3,
        .m-4,
        .m-5,
        .m-6,
        .m-7,
        .m-8,
        .m-9,
        .m-10,
        .m-11,
        .m-12 {
            display: block;
        }

        .m-1 {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }

        .m-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }

        .m-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .m-4 {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }

        .m-5 {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
        }

        .m-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .m-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }

        .m-8 {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }

        .m-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        .m-10 {
            flex: 0 0 83.33333%;
            max-width: 83.33333%;
        }

        .m-11 {
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }

        .m-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        /* Căn chỉnh offset Tablet++ */
        .m-o-1 {
            margin-left: 8.33333%;
        }

        .m-o-2 {
            margin-left: 16.66667%;
        }

        .m-o-3 {
            margin-left: 25%;
        }

        .m-o-4 {
            margin-left: 33.33333%;
        }

        .m-o-5 {
            margin-left: 41.66667%;
        }

        .m-o-6 {
            margin-left: 50%;
        }

        .m-o-7 {
            margin-left: 58.33333%;
        }

        .m-o-8 {
            margin-left: 66.66667%;
        }

        .m-o-9 {
            margin-left: 75%;
        }

        .m-o-10 {
            margin-left: 83.33333%;
        }

        .m-o-11 {
            margin-left: 91.66667%;
        }
    }

/* PC độ phân giải cao */
    /* Hệ thống hàng - cột PC px cao ( > 1113px ) */
    @media (min-width: 69.5625em) {
        .row {
            margin-left: -10px;
            margin-right: -10px;
        }

        .row.sm-gutter {
            margin-left: -5px;
            margin-right: -5px;
        }

        .row.no-gutter {
            margin-left: 0;
            margin-right: 0;
        }

        .col {
            padding-left: 10px;
            padding-right: 10px;
        }

        .row.sm-gutter .col {
            padding-left: 5px;
            padding-right: 5px;
        }

        .row.no-gutter .col {
            padding-left: 16px;
            padding-right: 16px;
        }

        .l-0 {
            display: none;
        }

        .l-1,
        .l-2,
        .l-2-4,
        .l-3,
        .l-4,
        .l-5,
        .l-6,
        .l-7,
        .l-8,
        .l-9,
        .l-10,
        .l-11,
        .l-12 {
            display: block;
        }

        .l-1 {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }

        .l-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }

        .l-2-4 {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .l-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .l-4 {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }

        .l-5 {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
        }

        .l-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .l-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }

        .l-8 {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }

        .l-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        .l-10 {
            flex: 0 0 83.33333%;
            max-width: 83.33333%;
        }

        .l-11 {
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }

        .l-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        /* Căn chỉnh offset PC px cao */
        .l-o-1 {
            margin-left: 8.33333%;
        }

        .l-o-2 {
            margin-left: 16.66667%;
        }

        .l-o-3 {
            margin-left: 25%;
        }

        .l-o-4 {
            margin-left: 33.33333%;
        }

        .l-o-5 {
            margin-left: 41.66667%;
        }

        .l-o-6 {
            margin-left: 50%;
        }

        .l-o-7 {
            margin-left: 58.33333%;
        }

        .l-o-8 {
            margin-left: 66.66667%;
        }

        .l-o-9 {
            margin-left: 75%;
        }

        .l-o-10 {
            margin-left: 83.33333%;
        }

        .l-o-11 {
            margin-left: 91.66667%;
        }
    }

/* PC độ phân giải thấp */
    /* Hệ thống hàng cột PC px thấp ( 1024px - 1239px ) */
    @media (min-width: 64em) and (max-width: 77.4375em) {
        .wide .row {
            margin-left: -10px;
            margin-right: -10px;
        }

        .wide .row.sm-gutter {
            margin-left: -5px;
            margin-right: -5px;
        }

        .wide .col {
            padding-left: 10px;
            padding-right: 10px;
        }

        .wide .row.sm-gutter .col {
            padding-left: 5px;
            padding-right: 5px;
        }

        .wide .l-0 {
            display: none;
        }

        .wide .l-1,
        .wide .l-2,
        .wide .l-2-4,
        .wide .l-3,
        .wide .l-4,
        .wide .l-5,
        .wide .l-6,
        .wide .l-7,
        .wide .l-8,
        .wide .l-9,
        .wide .l-10,
        .wide .l-11,
        .wide .l-12 {
            display: block;
        }

        .wide .l-1 {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }

        .wide .l-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }

        .wide .l-2-4 {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .wide .l-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .wide .l-4 {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }

        .wide .l-5 {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
        }

        .wide .l-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .wide .l-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }

        .wide .l-8 {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }

        .wide .l-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        .wide .l-10 {
            flex: 0 0 83.33333%;
            max-width: 83.33333%;
        }

        .wide .l-11 {
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }

        .wide .l-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        /* Căn chỉnh offset PC px thấp */
        .wide .l-o-1 {
            margin-left: 8.33333%;
        }

        .wide .l-o-2 {
            margin-left: 16.66667%;
        }

        .wide .l-o-3 {
            margin-left: 25%;
        }

        .wide .l-o-4 {
            margin-left: 33.33333%;
        }

        .wide .l-o-5 {
            margin-left: 41.66667%;
        }

        .wide .l-o-6 {
            margin-left: 50%;
        }

        .wide .l-o-7 {
            margin-left: 58.33333%;
        }

        .wide .l-o-8 {
            margin-left: 66.66667%;
        }

        .wide .l-o-9 {
            margin-left: 75%;
        }

        .wide .l-o-10 {
            margin-left: 83.33333%;
        }

        .wide .l-o-11 {
            margin-left: 91.66667%;
        }
    }

    @keyframes FadeIn {
        from {
            opacity: var(--growth-from);
        }
    
        to {
            opacity: var(--growth-to);
        }
    }

/* One-Page Table */
.data-sheet {
    display: none;
}

.customer-list_table,
.customer-group_table,
.customer-type_table {
    display: none;
}

/* Select Option */
.select--options2 {
    display: none;
}

.show-select-options {
    display: block;
}
.show {
    display: block;
}

/* Background Color */
.bg--special {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    linear-gradient(0deg, #4985F5, #4985F5);
}
.color--special {
    color: #6E9AED;
}

.bg--blue {
    background: var(--primary-color);
}
.color--blue {
    color: #4375D3;
}

.bg--red {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    linear-gradient(0deg, #ff0000, #ff0000);
}
.color--red {
    color: #f75c5c;
}

.bg--green {
    background-color: #06d103;
}
.color--green {
    color: #06d103;
}

.bg--violet {
    background-color: #a06cd5;
}
.color--violet {
    color: #a06cd5;
}

.bg--orange {
    background: #fb8500;
}
.color--orange {
    color: #fb8500;
}

/* Screen */
.screen {
    z-index: 1;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Table-Filter */

.table-filter {
    position: absolute;
    display: none;
    z-index: 2;
    top: calc(100% + 16px);
    right: 0;
    width: 300px;
    min-height: 160px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 7px 30px rgb(0 0 0 / 8%);
    animation: FadeIn linear .3s;
}

.table-filter::after {
    content: "";
    position: absolute;
    top: -26px;
    right: 18px;
    display: block;
    border-style: solid;
    border-width: 15px 20px;
    border-color: transparent transparent var(--white-color) transparent;
}

.table-filter-heading {
    font-size: 1.8rem;
    text-align: center;
    color: var(--primary-color);
}

.table-filter__body {
    margin-bottom: 4px;
    padding: 0 20px;
}

.table-filter__body-input {
    width: 100%;
    height: 36px;
    font-size: 1.4rem;
    margin: 10px 0;
    border: 1px solid rgba(73, 133, 245, 0.3);
    border-radius: 6px;
    padding: 0 10px;
    outline: none;
}

.table-filter__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0;
}

.table-filter-btn {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 32px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 1.4rem;
    color: var(--white-color);
}.table-filter-btn:hover {
    opacity: 0.8;
}

.table-filter-btn--close {
    border: 1px solid #f75c5c;
    color: #f75c5c;
    background-color: var(--white-color);
}.table-filter-btn--close:hover {
    color: var(--white-color);
    background-color: #f75c5c;
}

.table-filter--show {
    display: block;
}


/* Hidden */
.hidden {
    display: none;
}

/* Animation */

@keyframes ShowSliderRight {
    from {
        transform: translateX(calc(100% + 40px));
    }
    to {
        transform: translateX(0);
    }
}

.show {
    display: block;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


